@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/main_style.css")
<div my-head="">
    <div class="tg_page_head tg_head_wrap noselect clearfix">
        <div class="tg_head_split">

            <div class="tg_head_logo_wrap">
                <div class="tg_head_logo_dropdown dropdown" dropdown="" style="">
                    <a class="tg_head_btn dropdown-toggle main-menu" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                        <div class="icon-hamburger-wrap">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div><p class="icon icon-tg-title">Zireael</p>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a>
                                <i class="icon icon-new-group"></i><span my-i18n="im_new_group">Создать группу</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="icon icon-contacts"></i><span my-i18n="im_contacts">Контанты</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="icon icon-settings"></i><span my-i18n="im_settings">Настройки</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon icon-about"></i><span my-i18n="head_about">Выход</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tg_head_main_wrap">
                <div class="tg_head_main_peer_wrap" style="">

                    <div class="tg_head_peer_dropdown tg_head_peer_media_dropdown dropdown" dropdown="">
                        <a class="tg_head_btn dropdown-toggle dots" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a my-i18n="head_select_messages">Select messages</a></li>
                            <li class="divider ng-scope"></li>
                            <li><a my-i18n="head_media_photos">Photos</a></li>
                            <li><a my-i18n="head_media_video">Videos</a></li>
                            <li><a my-i18n="head_media_documents">Files</a></li>
                            <li><a my-i18n="head_media_music">Audio</a></li>
                            <li><a my-i18n="head_media_links">Shared links</a></li>
                            <li><a my-i18n="head_media_audio">Voice messages</a></li>
                            <li><a my-i18n="head_media_round">Video messages</a></li>
                        </ul>
                    </div>

                    <a class="tg_head_btn tg_head_peer_search_btn">
                        <i class="icon icon-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .wrap {
        margin: auto;
        width: 1010px;
        display: flex;
        border: 1px solid rgba(40, 70, 101, 0.17);
        border-top: 0;
        height: calc(100vh - 66px);
    }

    .chats {
    }

        .chats ul {
            overflow-y: scroll;
            height: 100%;
        }

    .messages {
        width: 100%;
        border-left: 1px solid rgba(40, 70, 101, 0.17);
    }

    .chats a {
        display: flex;
        align-items: stretch;
        text-decoration: none;
        padding: 7px;
        /*border-bottom: 1px solid rgba(40, 70, 101, 0.17);*/
    }

    .wrap-img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

        .wrap-img img {
            max-height: 100%;
        }



    .super {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 0;
    }

        .super > div {
            margin-right: 5px;
        }

    .super-top, .super-bottom {
        display: flex;
        width: 250px;
        justify-content: space-between;
        align-items: flex-start;
    }

        .super-top h3 {
            color: #000;
        }

    p.time {
        color: #00000059;
        font-size: 10px;
        line-height: 10px;
    }

    p.last-message {
        color: #00000059;
        font-size: 14px;
        line-height: 14px;
    }

    .super-bottom {
        align-items: flex-end;
    }

    span.count-unred-messages {
        background: #00000059;
        color: #fff;
        border-radius: 20px;
        padding: 1px 5px;
        font-size: 11px;
    }

    .chats .active a {
        background: #284665;
        /* color: #fff; */
    }

    .active span.count-unred-messages {
        display: none;
    }

    .active p.last-message {
    }

    .active .super-top h3, .active .time, .active p.last-message {
        color: #fff;
    }

    .chats li.active a:hover {
        background: rgba(40, 70, 101, 1);
    }

    .chats li a:hover {
        background: rgba(40, 70, 101, 0.1);
    }

    .wrap-img.letter h2 {
        float: none;
        position: absolute;
        font-size: 35px;
        color: WHITE;
        width: 48px;
        height: 48px;
        text-align: center;
        padding-top: 16px;
    }

    .wrap-img.letter img {
        float: none;
    }
</style>

<div class="wrap">
    <div class="chats">
        <ul>
            @{
                if (ViewBag.Groups != null)
                {
                    foreach (var group in ViewBag.Groups)
                    {
                        var letter = string.Empty;
                        var classletter = string.Empty;
                        if (ViewBag.Avatars[group.Id] == ViewBag.DefaultAvatar)
                        {
                            if (group?.Name?.Length > 0)
                            {
                                letter = group.Name.Substring(0, 1);
                                classletter = "letter";
                            }
                        }
                        var time = group?.LastMessage?.DateTime?.ToShortTimeString();
                        <li>
                            <a href="">
                                <div class="wrap-img @classletter">
                                    <h2>@letter</h2>
                                    <img src="@ViewBag.Avatars[group.Id]" alt="logo">
                                </div>
                                <div class="super">
                                    <div class="super-top">
                                        <h3>@group.Name</h3>
                                        <p class="time">@time</p>
                                    </div>
                                    <div class="super-bottom">
                                        <p class="last-message">@group.LastMessage.Text</p>
                                        @{
                                            if (@ViewBag.DontReaded[group.Id] > 0)
                                            {
                                                <span class="count-unred-messages">
                                                    @ViewBag.DontReaded[group.Id]
                                                </span>
                                            }
                                        }
                                    </div>
                                </div>
                            </a>
                        </li>

                    }
                }
            }
        </ul>
        <div class="nano-pane" style="display: block;"><div class="nano-slider" style="height: 69px; transform: translate(0px, 0px);"></div></div>
    </div>

    <div class="messages">
        <ul class="message-list">
            <li>
                <div class="checked-btn">
                    <a href="#" class="checked-btn-on" style="    background-image: url(../Content/Images/Icons2.png);background-repeat: no-repeat; background-position: -9px -481px;"></a>
                </div>
                <div class="wrap-img">
                    <img src="/Content/Images/Zireael_logo.128.png" alt="logo">
                </div>
                <div class="mega">
                    <div class="mega-top">
                        <h3>Title</h3>
                        <p class="time">10.01.01</p>
                    </div>
                </div>
                <div class="mega-bottom">
                    <p></p>
                </div>
            </li>
        </ul>
        <div class="panel-write">
            <div class="line-write">
                <div class="wrap-img">
                    <img src="/Content/Images/Zireael_logo.128.png" alt="logo">
                </div>
                <textarea name="msg"></textarea>
                <div class="wrap-img">
                    <img src="/Content/Images/Zireael_logo.128.png" alt="logo">
                </div>
            </div>
            <div class="line-write">
                <input type="file" id="file">
                <label for="file"></label>
                <a href="#" class="send"></a>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/main.js")
<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/utils.js"></script>