<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/vlad.css")
    @Styles.Render("~/Content/nikita.css")
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
</head>
<body>
    @RenderBody()

    @*<div id="loading">
        <div my-arc-progress="" stroke="3" width="26" class="progress-arc-wrap progress-arc-intermediate" style="width: 26px; height: 26px;">
            <svg class="progress-arc" viewport="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" width="26" height="26">
                <defs>
                    <linearGradient id="grad_intermediate2" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" class="stop0"></stop>
                        <stop offset="60%" class="stop60"></stop>
                        <stop offset="100%" class="stop100"></stop>
                    </linearGradient>
                </defs>
                <circle class="progress-arc-bar" cx="13" cy="13" r="11.5" style="stroke-width: 3; stroke-dasharray: 31.7929, 40.4637; stroke: url(&quot;#grad_intermediate2&quot;);"></circle>
            </svg>
        </div>
        <div class="background"></div>

    </div>*@
</body>
</html>
